html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poopins';
}
.App {
  height: auto;
  min-height: 100vh;
  box-sizing: border-box; 
  margin: 0 20px;
}
 /* i want to create 2 circle animation in the top right corner of my app for visally better appearence more proffesional and cool */


