.Content {
    flex: 1; /* Content will take up the remaining space */
    display: flex;
    justify-content: center;
    align-items: center; /* Center content both horizontally and vertically */
    background-color: #ffffff;
    padding: 20px; 
    background-image: url(../images/canyonSky.jpg);
    background-position: center;
    background-size: cover;
  } 
  