/* Basic footer styles */
.Footer{
  padding: 2.5%;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
}
.footer {
  width: 85%;
}
/* Aligning the links in a row */
.footer-nav ul {
  list-style: none;
  display: flex;  /* Ensures items are in a row */
  gap: 50px;  
  margin: 0;
  padding:0;
  justify-content: flex-end;  /* Push items to the right */
  width: 100%;  
}

.footer-button {
  color: #efcc05ee;; 
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border-radius: 25px;
  padding: 40px;
}

/* Responsive layout */
@media (max-width: 768px) {
  .footer-nav ul {
    flex-direction: column;  /* Stack items vertically */
    gap: 10px;
  }

  .footer-button {
    width: 100%;
    text-align: center;
  }
}
