/* Basic footer styles */
.Footer{
  padding: 2.5%;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
}
.footer {
  width: 90%;
  border-top: 2px solid rgba(197, 193, 193, 0.86);
  height: 50px;
}




/* Responsive layout */
@media (max-width: 768px) {
  .footer-nav ul {
    flex-direction: column;  /* Stack items vertically */
    gap: 10px;
  }

  .footer-button {
    width: 100%;
    text-align: center;
  }
}
