/* Basic header styles */
.Header{
  height: 15vh;
  display: flex;  
  width: 100%;
  align-items: center;
}
.header {
    padding:2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(197, 193, 193, 0.86);
    width: 100%;
    margin: 2%;
  }
  .header-div{
    width: 90%;
  }
  .portfolio h1 {
    font-size: 2rem;
    margin: 0;
    color: #efcc05ee;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-family: 'Poopins';
    margin-left: 30px;
  }
  
  /* Aligning the links in a row */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    font-family: 'Poopins';
  }
  
  .nav-button {
    color:#efcc05ee;
    padding: 10px 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }

  /* Ensuring the layout looks good on mobile */
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      gap: 10px;
    }
  
    .nav-button {
      width: 100%;
      text-align: center;
    }
  }
  